<nav>
  <ul class="tabs">
    <li class="dropdown" data-dropdown="dropdown">
      <a href="/services" class="dropdown-toggle" rel="nofollow">Services</a>
      <ul class="dropdown-menu">
        <li><a href="/services/system-audits">System Audits</a></li>
        <li><a href="/services/audit-and-dialog">Consultation and Dialog</a></li>
      </ul>
    </li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/team">Team</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</nav>
